*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
BODY{
    width: 100%;
    min-height:100vh;
    background: #f8f8f8;
}

header {
    height: 60px;
    width: 100%;
    background: black;
    color: white;
    display: flex;
    align-items: center;
}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-list{
    display: none;
}
nav ul li{
    list-style: none;
    display: inline;
    margin-right: 20px;
    font-weight:550 ;
}
.logo {
    font-size: 24px;
}
.hero{
    width: 100%;
    height: auto;
    background-image: url('backgrounde.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: beige;
    text-align: center;
    padding: 140PX 0;
    margin-bottom: 20px;

}
.hero H2{
    font-size: 36px;
    margin-bottom: 10PX;
    color: goldenrod
    text-align: center;

}
.HERO h3{
    font-size: 20px;
    margin-bottom: 10px;
    text-align: left;


}
.search-box{
    max-width: 550px;
    margin:15px 0;
    display: flex;
align-items: center ;
justify-content: center;
background: red;

}
.search-box input{
    width: 70%;
    padding: 10px;
    outline:none;
    border: 0;
    border-radius: 5px 0 0 5px;
font-size: 1rem;
border: 1px solid rgb(245,37,9);
}
.search-box button{
    padding: 10px 20px;
    outline: none;
    border: 0;
    border-radius: 0px 5px 5px 0px;
    font-size: 1rem;
    background: rgb(245,37,9);
color: #f8f8f8;
cursor: pointer;
}
.recipies{
    padding: 50px  0;

}
.recipies h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;

}
.recipies-section{
    width:90%;
margin: 0 auto;
display: grid;
grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
column-gap:10px;
}
.recipie-card{
    background: white;
    margin:30px 10px;
    border-radius: 10px;
    border:1px solid #ccc;
    overflow: hidden;
}
.recipie-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.recipie-card h2{
    font-size: 22px;
    padding: 20px;
}
.recipie-card p{
    font-size: 18px;
    padding: 20px;
}
.recipie-card a{
    display: block;
    text-align: center;
    text-decoration: none;
    background: #333;
    color: #ccc;
    padding: 15px 0;

}
footer{
    background: #333;
    padding: 20px 0;
    color: white;
    text-align: center;
}
.menu-icon{
    font-size: 24px;
    padding: 20px;
    text-align: right;
    cursor: pointer;
    display: block;
}
@media only screen and (min-width:750px ){
    .menu-icon{
        display: none;
    }
}
.nav-list {
    display: block;
}